services:
  - type: web
    name: carshop-web
    env: docker
    plan: free
    dockerfile: ./Dockerfile
    dockerCommand: "apache2-foreground"
    healthCheckPath: /
    envVars:
      - key: DB_HOST
        scope: run
      - key: DB_PORT
        value: "5432"
      - key: DB_USER
        scope: run
      - key: DB_PASS
        scope: run
      - key: DB_NAME
        value: car_shop
